<div class="callout new-page">
  <div class="small-8 small-centered columns">
    <h1>Add a New Vendor</h1>
    <%= link_to "Return back to list of vendors", vendors_path %>
    <%= render 'form' %>
  </div>
</div>
