<div class="small-6 small-centered columns" >
  <div class="callout", id="protocol-box">
    <h3> List of Protocols </h3>
    <% @protocols.each do |protocol|  %>
    <div id="protocol-list">
      <li> <%= link_to "#{protocol.name}", protocol_path(protocol) %> </li>
    </div>
    <% end %>
    <div id= "protocol-list">
      <%= link_to "Add a protocol", new_protocol_path, class:"button"%>
    </div>
  </div>
</div>
