/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

// top-bar

.menu img{
  height:50px;
}

// homepage

.homescreen{
  width: 100%;
  height: 100%;
  display: block;
}

.homescreen img{
  display: block;
  position: absolute;
}

#login-box{
  position: relative;
  left: 60%;
  top: 15%;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.7);
  padding: 10px;
}

.labels{
  form label{
    color: white;
    font-size: 30px;
  }
}

// flash messages

$flash-success: #3B9089;
$flash-error: #ff1500;
$flash-alert: #ff9933;

.flash.notice{
  padding: 1em;
  color: white;
  background-color: $flash-success ;
}

.flash.error{
  padding: 1em;
  color: white;
  background-color: $flash-error ;
}

.flash.alert{
  padding: 1em;
  color: white;
  background-color: $flash-alert ;
}
