/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */


$flash-success: #3b9089;
$flash-error: #ff1500;
$flash-alert: #ff9933;
$white: #ffffff;
$red: #ff0000;
$blue: #1a8cff;
$topbar: #454545;

// top-bar

.menu img {
  height: 70px;
}

.top-bar input {
  width: 170px;
  margin-right: 1rem;
}
// homepage

.homescreen {
  width: 100%;
  height: 80%;
  display: block;
}

.homescreen img{
  display: block;
  position: absolute;
  opacity: 0.9;
}

#login-box{
  position: relative;
  left: 35%;
  top: 25%;
  background: rgba(0,0,0,0.7);
  padding: 40px;
}

.labels {
  form label{
    color: $white;
    font-size: 30px;
  }
}

a#notification {
  background-color: $red;
  color: $white;
}

// flash messages

.flash.notice {
  padding: 1em;
  color: $white;
  background-color: $flash-success;
}

.flash.error {
  padding: 1em;
  color: $white;
  background-color: $flash-error;
}

.flash.alert {
  padding: 1em;
  color: $white;
  background-color: $flash-alert;
}

//Dashboard

.activity-feed {
  padding: 15px;
}

.activity-feed .feed-item {
  position: relative;
  padding-bottom: 20px;
  padding-left: 30px;
  border-left: 2px solid #8c8c8c;
}

.activity-feed .feed-item:last-child {
  border-color: transparent;
}

.activity-feed .feed-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -6px;
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #3399ff;
}

.activity-feed .feed-item .date {
  position: relative;
  top: -5px;
  color: #595959;
  text-transform: uppercase;
  font-size: 13px;
}
.activity-feed .feed-item .text {
  position: relative;
  top: -3px;
}

body{
  background-color: #e3e3e3;
}

.top-bar-right{
  padding-top: 1em;
  font-size: 1.1em;
}

.menu-title{
  padding-top: 1em;
}

.orders{
  text-align: center;
  font-size: 1em;
}

label{
  font-size: 1em;
}

#vendors-box {
  margin-top: 100px;
  padding: 0px;
  padding-bottom: 20px;
  h1 {
    background-color: $blue;
    color: white;
  }
}


#vendor-name {
  padding: 0px;
  h1 {
    background-color: $blue;
    color: white;
  }
}

#vendors-show {
  text-align: center;
  padding: 1em;
  margin-top: 100px;
}

#protocol-box {
  margin-top: 100px;
  padding: 0px;
  padding-bottom: 30px;
  h2 {
    background-color: $blue;
    text-align: center;
    color: white;
  }
}

// Foooter

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
	margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
	height: 142px;
}
.site-footer {
  background: $topbar;
}

.dashboard {
  color: $blue;
  h1 {
    text-align: center;
  }
}

.feed {
  margin-left: auto;
}
