/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

$flash-success: #3b9089;
$flash-error: #ff1500;
$flash-alert: #ff9933;
$white: #ffffff;
$red: #ff0000;
$blue: #1a8cff;
$topbar: #454545;
$footer: #262626;
$copyright: #0066cd;

// body{
//   background-color: #e3e3e3;
// }

// notification button

// a#notification {
//   background-color: $red;
//   color: $white;
// }

//
//

//
//
// .menu-title{
//   padding-top: 1em;
// }
//
// .orders{
//   text-align: center;
//   font-size: 1em;
// }
//
// label{
//   font-size: 1em;
// }
//
// #vendors-box {
//   margin-top: 100px;
//   padding: 0px;
//   padding-bottom: 20px;
//   h1 {
//     background-color: $blue;
//     color: white;
//   }
// }
//
//
// #vendor-name {
//   padding: 0px;
//   h1 {
//     background-color: $blue;
//     color: white;
//   }
// }
//
// #vendors-show {
//   text-align: center;
//   padding: 1em;
//   margin-top: 100px;
// }
//
// #protocol-box {
//   margin-top: 100px;
//   padding: 0px;
//   h3 {
//     background-color: $blue;
//     text-align: center;
//     color: white;
//   }
// }
//
// #protocol-list {
//   text-align: center;
// }
