@import 'application.scss';

.homescreen {
  background: image-url("background.png") no-repeat center;
  height: 100vh;
}

#login-box{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  top: 25%;
  position: relative;
  text-align: center;
  padding: 1em;
  background: rgba(0,0,0,0.7);
}

.labels {
  form label {
    color: $white;
    font-size: 20px;
  }
}

.labels input#username {
  background: #fff url('username.png') 20px top no-repeat;
  background-size: 16px 80px;
}

.labels input#password {
  background: #fff url('password.png') 20px top no-repeat;
  background-size: 16px 80px;
}

.labels input {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 42px;
  margin-bottom: 20px;
  outline: none;
  padding: 0 20px 0 50px;
  width: 100%;
}

.labels input:active,
.labels input:focus {
  border: 2px solid $blue;
}
