@import 'application';

.top-bar {
  padding: 0;
  h2 {

    color: $white;
    font-family: 'Montserrat', sans-serif;
    padding-top: 0;
    .fa.fa-flask {

      margin-bottom: 10px;
      padding: 0;
    }
  }
}

#notification {
  background-color: #ff4d4d;
  color: $white;
}

.menu > li.menu-title > a {
  padding-bottom: 0;
}

.topbar-links a {
  color: $white;
  display: block;
  font-size: 17px;
  line-height: 1;
  margin-top: 1em;
  padding: 0.5rem;
}
